{% extends "recipes/layout.html" %}

{% block body %}

{% if user.is_authenticated %}

<div class="container">
    <h1 id="page_title">My Recipes</h1>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
</div>

<div class="container" id="recipe_list">
  <form class="d-flex">
    <input class="form-control me-2" type="search" id= "search_input" placeholder="Recipe Title" aria-label="Search">
    <button class="btn btn-outline-success" type="submit" id="search">Search</button>
  </form>
<table class="table align-middle">
    <tbody>
        <tr>
        {% for recipe in page_obj %}
          {% if forloop.counter|divisibleby:3 %}
            <td data-id="recipe_{{ recipe.id }}" class="recipe_index">
                <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.title }}</a>
            </td>
            </tr>
        <tr>
          {% else %}
          <td data-id="recipe_{{ recipe.id }}" class="recipe_index">
            <a href="{% url 'recipe_details' recipe.id %}">{{ recipe.title }}</a>
            </td>
          {% endif %}
        {% endfor %}
      </tr>
    </tbody>
  </table>
</div>

  <div class="container" id="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
</div>

{% else %}

<div class="container-fluid">
    <h1>Welcome to RecipeBox!</h1>
    <hr>
    <p>This is a simple recipe storage webapp for anyone who loves finding new recipes online and needs a place to store the URLs.</p>
    <p>
        <a href="{% url 'register' %}">Register</a> today and start saving your favourite recipes.
    </p>
</div>  

{% endif %}
{% endblock %}