{% extends "recipes/layout.html" %}

{% block body %}
    <div class="container">
        <h1>Reset Password</h1>
        <p>Enter your email address below, and we’ll email you instructions for setting a new one.</p>
    </div>

    <div class="container">
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="input_email" class="form-label">Email Address</label>
                <input autofocus type="text" class="form-control" id="input_email" name="email">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
    </div>
{% endblock %}