{% extends "recipes/layout.html" %}

{% block body %}
<div class="container">
    <h1>My Profile</h1>
</div>
<div class="container">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <strong>Username</strong>
            </td>
            <td>{{ user.username }}</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <strong>Email</strong>
            </td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{% url 'email_change' %}">Edit</a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Password</strong>
            </td>
            <td>********</td>
            <td>
                <a href="{% url 'password_change' %}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}