{% extends "recipes/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <h1>My Profile</h1>
</div>
<div class="container">
    <table class="table">
        <tbody>
        <tr>
            <td>
                <strong>Username</strong>
            </td>
            <td>{{ user.username }}</td>
            <td></td>
        </tr>
        <tr>
            <td>
                <strong>Email</strong>
            </td>
            <td>{{ user.email }}</td>
            <td>
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</a>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Password</strong>
            </td>
            <td>********</td>
            <td>
                <a href="{% url 'password_change' %}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Email</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                </form>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" class="btn btn-primary" id="email_change" value="Save">       
        </div>
      </div>
    </div>
  </div>

{% endblock %}