a {
    text-decoration: none;
}

.body {
    padding-top: 5px;
}

.navbar-brand {
    padding-left: 5px;
}

.form {
    padding-bottom: 5px;
}

.pagination {
    justify-content: center;
}

.row {
    padding-top: 5px;
    text-align: center;
}

.recipe {
    font-size: 20px;
}